.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  body {
    font-family: Rubik;
    background-color: #ff58bf;
  }
.main {
    width: 100%;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 200px ;
    
}

h1 {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 20px;

}

.one {
  margin-bottom: 100px;
  font-size: 10px;
}

h3 {
  margin-top: 150px;
}

span {
  font-weight: 600;
  font-size: 8px;
  display: inline;
}

/* .cards {
  align-items: center;
  background-color: #c24040;
  padding: 300px;

} */

/* .card {
  box-shadow: 3px 3px 3px black;
  padding: 30px 10px;
  border: 2px solid #fff ;
  border-radius: 6px;
  background-color: rgb(105, 105, 105);

} */