.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  body {
      font-family: Rubik;
      width: 100%;
      background-color: #ff58bf;
      direction: rtl;
  }
  
  a {
      text-decoration: none;
      color: black;
      position: fixed;
      top: 40%;
      right: 36%;
      font-weight: bold;
      font-size: 50px;
      text-align: center;
  }